<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ATG</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
  <nav class="my-navbar bg-primary">
    <div class="my-navbar-brand">
      <a href="/">
        <h2 class="text-light">ATG Social App</h2>
      </a>
    </div>
    <div class="my-navbar-signup">
      <a href="/signup"><button type="button" class="btn btn-light">Sign Up</button></a>
    </div>
    <div class="my-navbar-login">
      <a href="/login"><button type="button" class="btn btn-light ms-3">Log In</button></a>
    </div>
  </nav>

  <div class="posts">
    <% for(let i=0; i < titles.length; i++) { %>
      <div class="card w-75 mt-3 mb-3">
        <div class="card-body">
          <p><i class="ri-map-pin-user-line"></i> <%= users[i] %></p>
          <h5 class="card-title">
            <%= titles[i] %>
          </h5>
          <p class="card-text">
            <%= descs[i] %>
          </p>
          <form action="/" method="post">
            <label for="comment"><strong>Comments:</strong></label>
            <textarea class="form-control" rows="1" id="comment" name="comment"></textarea>
            <button type="submit" class="btn btn-primary mt-2">Comment</button>
          </form>
        </div>
      </div>
    <% } %>
  </div>

  <!-- <div class="create-post mt-5">
    <form class="w-75" action="/" method="post">
      <div class="mb-3">
        <h1 class="text-primary mb-2">Create Post</h1>
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-5">Post</button>
    </form>
  </div> -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>